AGORA_APP_ID=b17004d7060b4ee0bf6e50cb931e1bbd
AGORA_PRIMARY_CERTIFICATE=placeholder_primary_certificate
AGORA_TOKEN=placeholder_agora_token
FIREBASE_PROJECT_ID=trigger-app-cd138
FROM_EMAIL=Trigger App <no-reply@triggerapp.com>
GIPHY_API_KEY=placeholder_giphy_api_key
RAZORPAY_KEY_ID=rzp_test_placeholder
REPLY_TO_EMAIL=support@triggerapp.com
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhemtjYWlucmFqY2d4ZWNvbWx5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0NTkwMTksImV4cCI6MjEwNDAzNTAxOX0.laoOt2R3T4pdX3J_hp4_yABoeQNxrvlnt6lNDhnkh1o
SUPABASE_PUBLISHABLE_KEY=sb_publishable_2F-p6Gwmb4Bk_LoVmGBerg_E-Nb6AL-
SUPABASE_URL=https://uazkcainrajcgxecomly.supabase.co
